.wrapper {
  width: 19.9rem;
  height: 6rem;
  text-align: center;
  border: solid 0.3rem #020001;
  background-color: transparent;
  font-size: 2.3rem;
  font-weight: 800;
  cursor: pointer;
}
