.wrapper {
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
  // caret-color: ;
  font-size: 1.6rem;
  padding: 1.8rem 1.1rem;
  background-color: #fff;
  width: 100%;
  border: solid 1px #a1a1a1;
}
